---
import type { formatList } from 'astro/runtime/server/render/util.js';
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro'
---
<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>